/* Layout container */
.app-container {
  display: flex;
  height:max-content;
  overflow: hidden;
}

/* Sidebar styles */
.sidebar {
  width: min-content;
  background-color: #010203;
  color: #faf6f6;
  position: fixed;
  left: -250px; /* Hidden by default */
  top: 4rem;
  height: 100%;
  transition: left 0.3s ease;
  margin-right: 20px;
}

.sidebar.open {
  left: 0; /* Slide in */
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 0;
  cursor: pointer;
}
.sidebar ul li:hover{
    background-color: #007bff;
}

/* Main content */
.content {
  flex: 1;
  margin-left: 0;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.sidebar.open ~ .content {
  margin-left: 250px; /* Push content when sidebar is open */
}

/* Toggle button */
.toggle-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border:2px solid black;
  cursor: pointer;
}

.toggle-btn:hover {
  background-color: #0056b3;
}
