body {
  margin: 0;
  font-family: system-ui;
  background: #f3f4f6;
}

.app-container {
  max-width: 900px;
  margin: auto;
  padding: 1rem;
  background: rgb(200, 235, 238);
  border-radius: 12px;
}

h1 {
  text-align: center;
}

form input, form textarea, button {
  width: 100%;
  margin: 6px 0;
  padding: 8px;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
}

.secondary {
  background: #16a34a;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 1rem;
}

.dash-card {
  background: #90922d;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.work-card {
  background: #f9fafb;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.actions button {
  margin-top: 6px;
}

/* MOBILE */
@media (max-width: 600px) {
  .dashboard {
    grid-template-columns: 1fr;
  }
}

/* PRINT */
@media print {
  button, input, textarea {
    display: none;
  }
}
